{% set classes = [
  'relative',
  'block',
  'flex',
  'w-full',
  'flex-col',
  link_url ? 'group' : '',
] %}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% if image %}
    <div class="mb-5 rounded-lg overflow-hidden relative">
      <div class="group-hover:scale-110 transition-transform duration-300">
        {{ image }}
      </div>
    </div>
  {% endif %}

  <div class="pb-8">
    {% if icon %}
      <div class="text-4xl md:text-6xl mb-4">
        {{ icon }}
      </div>
    {% endif %}

    {% if pre_header %}
      <p class="uppercase font-semibold tracking-wider text-xs mt-0 mb-2">{{ pre_header }}</p>
    {% endif %}

    {% if headline %}
      <h3 class="font-medium text-2xl mt-0 mb-4 last:mb-0">{{ headline }}</h3>
    {% endif %}

    {% if caption %}
      <p>{{ caption }}</p>
    {% endif %}
  </div>

  {% if link_url %}
    <div class="mt-auto pb-5">
      <a href="{{ link_url }}" class="btn btn--secondary after:absolute after:inset-0 text-sm">{{ link_text }}</a>
    </div>
  {% endif %}
</div>
