{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}

<div class="h-screen flex flex-col justify-center bg-secondary text-secondary-contrast">
  <div class="max-w-lg mx-auto p-8 text-center">
    <header role="banner" class="mb-8">
      {% if logo %}
        <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home" class="inline-block max-w-xs">
          <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
        </a>
      {% endif %}
    </header>

    <main role="main">
      {% if title %}
        <h1 class="text-2xl md:text-4xl font-light tracking-tight mb-4">{{ title }}</h1>
      {% endif %}

      <p>
        {{ page.content }}
      </p>
    </main>
  </div>


</div>

