{#
/**
 * @file
 * Theme override to display a main menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, 'Main Menu'|t, '') }}

{% macro menu_links(items, attributes, menu_level, trigger_item_title, parent, parent_link) %}
  {% import _self as menus %}
  {% if items %}

    {% if menu_level == 0 %}
      {% set block = 'menu' %}
    {% else %}
      {% set block = 'submenu' %}
    {% endif %}

    {% set classes = [ block, 'menu-level-' ~ menu_level ] %}

    <ul{{ attributes.addClass(classes) }}>

      {% if menu_level > 0 %}

        <li class="back-link">
          <a aria-label="{{ 'Back to @parent'|t({ '@parent' : parent }) }}" href="#">
            {{ 'Back to @parent'|t({ '@parent' : parent }) }}
          </a>
        </li>

        {% if parent_link %}
          <li class="parent-link">
            {{ parent_link }}
          </li>
        {% endif %}

      {% endif %}

      {% for item in items %}

        {% set li_classes = [] %}

        {% if item.below %}
          {% set li_classes = li_classes|merge(['has-submenu']) %}
        {% endif %}

        <li{{ item.attributes.addClass(li_classes) }}>
          {% if item.below %}
            {{ link(item.title, item.url, { 'aria-expanded': 'false'}) }}
            <div class="submenu-wrapper">
              {{ menus.menu_links(item.below, create_attribute(), menu_level + 1, item.title, trigger_item_title, link(item.title, item.url)) }}
            </div>
          {% else %}
            {{ link(item.title, item.url) }}
          {% endif %}
        </li>

      {% endfor %}

    </ul>
  {% endif %}
{% endmacro %}
